In [244]:
import pandas as pd #dependency
import numpy as np #dependency

df_teacher = pd.DataFrame(
    {
    "name": ["Pep Guardiola", "Jurgen Klopp", "Mikel Arteta", "Zinadine Zidane"],
    "married": [True, True, False, True],
    "school": ["Manchester High School", "Liverpool High School", "Arsenal High", np.nan]
    }
)

df_student = pd.DataFrame(
    {
        "teacher": ["Mikel Arteta", "Mikel Arteta", "Pep Guardiola", "Jurgen Klopp", "Jurgen Klopp", "Jurgen Klopp", "Pep Guardiola","Pep Guardiola","Mikel Arteta"],      
        "name": ["Bukayo Saka", "Gabriel Martinelli", "Jack Grealish", "Roberto Firmino","Andrew Robertson", "Darwin Nunez", "Ederson Moraes", "Manuel Akanji", "Thomas Partey"],
        "age": [21, 21, 27, 31, 28, 23, 29, 27, 29],
        "height": ['2.1m','2.1m', '2.1m', '2.1m', '2.1m', '2.1m', '2.1m', '2.1m', '2.1m']
    }
)

In [245]:
# set `name` as an index
df_teacher = df_teacher.set_index("name")
df_teacher

                 married                  school
name
Pep Guardiola       True  Manchester High School
Jurgen Klopp        True   Liverpool High School
Mikel Arteta       False            Arsenal High
Zinadine Zidane     True                     NaN

In [246]:
# set `teacher` as an index
df_student = df_student.set_index("teacher")
df_student

                             name  age height
teacher
Mikel Arteta          Bukayo Saka   21   2.1m
Mikel Arteta   Gabriel Martinelli   21   2.1m
Pep Guardiola       Jack Grealish   27   2.1m
Jurgen Klopp      Roberto Firmino   31   2.1m
Jurgen Klopp     Andrew Robertson   28   2.1m
Jurgen Klopp         Darwin Nunez   23   2.1m
Pep Guardiola      Ederson Moraes   29   2.1m
Pep Guardiola       Manuel Akanji   27   2.1m
Mikel Arteta        Thomas Partey   29   2.1m

In [247]:
# join 2 dataframes by index
df = df_student.join(df_teacher, how="inner")

# reset index
df = df.reset_index()

# rename columns 'name' and 'index'
df = df.rename(columns = {"name": "student", "index": "teacher"})
df_joined = df[["teacher", "school", "married","student","age","height"]]
df_joined

,teacher,school,married,student,age,height
0,Jurgen Klopp,Liverpool High School,True,Roberto Firmino,31,2.1m
1,Jurgen Klopp,Liverpool High School,True,Andrew Robertson,28,2.1m
2,Jurgen Klopp,Liverpool High School,True,Darwin Nunez,23,2.1m
3,Mikel Arteta,Arsenal High,False,Bukayo Saka,21,2.1m
4,Mikel Arteta,Arsenal High,False,Gabriel Martinelli,21,2.1m
5,Mikel Arteta,Arsenal High,False,Thomas Partey,29,2.1m
6,Pep Guardiola,Manchester High School,True,Jack Grealish,27,2.1m
7,Pep Guardiola,Manchester High School,True,Ederson Moraes,29,2.1m
8,Pep Guardiola,Manchester High School,True,Manuel Akanji,27,2.1m

In [248]:
# filter data for 'Jurgen Klopp' only
df_jurgen = df_joined[df_joined.teacher == "Jurgen Klopp"]

# set 'teacher', 'school', 'married'
df_jurgen = df_jurgen.set_index(['teacher', 'school', 'married'])

# convert the dataframe to a list of dictionaries
Jurgen_students_list = df_jurgen.to_dict(orient='records')
Jurgen_students_list

[{'student': 'Roberto Firmino', 'age': 31, 'height': '2.1m'},
 {'student': 'Andrew Robertson', 'age': 28, 'height': '2.1m'},
 {'student': 'Darwin Nunez', 'age': 23, 'height': '2.1m'}]

In [249]:
# filter data for 'Mikel Arteta' only
df_mike = df_joined[df_joined.teacher == "Mikel Arteta"]

# set 'teacher', 'school', 'married'
df_mike = df_mike.set_index(['teacher', 'school', 'married'])

# convert the dataframe to a list of dictionaries
Mike_students_list = df_mike.to_dict(orient='records')
Mike_students_list

[{'student': 'Bukayo Saka', 'age': 21, 'height': '2.1m'},
 {'student': 'Gabriel Martinelli', 'age': 21, 'height': '2.1m'},
 {'student': 'Thomas Partey', 'age': 29, 'height': '2.1m'}]

In [250]:
# filter data for 'Pep Guardiola' only
df_pep = df_joined[df_joined.teacher == "Pep Guardiola"]

# set 'teacher', 'school', 'married'
df_pep = df_pep.set_index(['teacher', 'school', 'married'])

# convert the dataframe to a list of dictionaries
Pep_students_list = df_pep.to_dict(orient='records')
Pep_students_list

[{'student': 'Jack Grealish', 'age': 27, 'height': '2.1m'},
 {'student': 'Ederson Moraes', 'age': 29, 'height': '2.1m'},
 {'student': 'Manuel Akanji', 'age': 27, 'height': '2.1m'}]

In [251]:
# create dictionary for 'Jurgen Klopp'
jurg_data = {
    "teacher": "Jurgen Klopp",
    "school": "Liverpool High School",
    "married": True
}

# Append 'Jurgen Klopp' dict with students list
jurg_data.update({'Students': Jurgen_students_list})
jurg_data

{'teacher': 'Jurgen Klopp',
 'school': 'Liverpool High School',
 'married': True,
 'Students': [{'student': 'Roberto Firmino', 'age': 31, 'height': '2.1m'},
  {'student': 'Andrew Robertson', 'age': 28, 'height': '2.1m'},
  {'student': 'Darwin Nunez', 'age': 23, 'height': '2.1m'}]}

In [252]:
# create dictionary for 'Pep Guardiola'
pep_data = {
    "teacher": "Pep Guardiola",
    "school": "Manchester High School",
    "married": True
}

# Append 'Pep Guardiola' dict with students list
pep_data.update({'Students': Pep_students_list})
pep_data

{'teacher': 'Pep Guardiola',
 'school': 'Manchester High School',
 'married': True,
 'Students': [{'student': 'Jack Grealish', 'age': 27, 'height': '2.1m'},
  {'student': 'Ederson Moraes', 'age': 29, 'height': '2.1m'},
  {'student': 'Manuel Akanji', 'age': 27, 'height': '2.1m'}]}

In [253]:
# create dictionary for 'Mike Arteta'
mike_data = {
    "teacher": "Mike Arteta",
    "school": "Arsenal High",
    "married": False
}

# Append 'Mike Arteta' dict with students list
mike_data.update({'Students': Mike_students_list})
mike_data

{'teacher': 'Mike Arteta',
 'school': 'Arsenal High',
 'married': False,
 'Students': [{'student': 'Bukayo Saka', 'age': 21, 'height': '2.1m'},
  {'student': 'Gabriel Martinelli', 'age': 21, 'height': '2.1m'},
  {'student': 'Thomas Partey', 'age': 29, 'height': '2.1m'}]}

In [254]:
# join the 3 list of dictionaries together
joined_dict = [jurg_data, pep_data, mike_data]
joined_dict

[{'teacher': 'Jurgen Klopp',
  'school': 'Liverpool High School',
  'married': True,
  'Students': [{'student': 'Roberto Firmino', 'age': 31, 'height': '2.1m'},
   {'student': 'Andrew Robertson', 'age': 28, 'height': '2.1m'},
   {'student': 'Darwin Nunez', 'age': 23, 'height': '2.1m'}]},
 {'teacher': 'Pep Guardiola',
  'school': 'Manchester High School',
  'married': True,
  'Students': [{'student': 'Jack Grealish', 'age': 27, 'height': '2.1m'},
   {'student': 'Ederson Moraes', 'age': 29, 'height': '2.1m'},
   {'student': 'Manuel Akanji', 'age': 27, 'height': '2.1m'}]},
 {'teacher': 'Mike Arteta',
  'school': 'Arsenal High',
  'married': False,
  'Students': [{'student': 'Bukayo Saka', 'age': 21, 'height': '2.1m'},
   {'student': 'Gabriel Martinelli', 'age': 21, 'height': '2.1m'},
   {'student': 'Thomas Partey', 'age': 29, 'height': '2.1m'}]}]